header.app-bar#header.header
  .container.fixed-width-md-up
    .header-content
      nav.nav-logo.nav-menu.flex-grow-1
        |
        |
        button#hamburger_menu.btn-icon.waves-effect.hamburger.hamburger--spin.mobile-menu
          |
          |
          span.hamburger-box
            |
            |
            span.bar.hamburger-inner
            |
            |
          |
          |
        .logo
          |
          |
          a(href=link.medical.home)
            img(
              src=assets + brand.medical.img
              alt="logo"
            )/
          |
          |
        .flex-grow-1
        include ./top-nav/user-menu
.paper-nav#main_menu
  .full-nav
    .scrollactive-nav.scrollnav
      ul.menu
        each item, index in menu.medical
          li
            a.btn-flat.waves-effect(
              href='#'+item.name
            ) #{$t.medical_landing['header_'+item.name]}
