-
  var categories = [
    "all",
    "Orthopedic",
    "Nutritionist",
    "Pediatric",
    "Anaesthestic"
  ]

  var doctorsData = [
    {
      avatar: img_artwork[31],
      name: 'Jena Doe',
      title: 'Pediatric Surgeon',
      rating: 95,
      exp: 4
    },
    {
      avatar: img_artwork[32],
      name: 'John Doe',
      title: 'Neurologists',
      rating: 95,
      exp: 4
    },
    {
      avatar: img_artwork[33],
      name: 'Jihan Doe',
      title: 'Dentist',
      rating: 95,
      exp: 4
    },
    {
      avatar: img_artwork[34],
      name: 'James Doe',
      title: 'Neurologists',
      rating: 95,
      exp: 4
    },
    {
      avatar: img_artwork[35],
      name: 'Jim Doe',
      title: 'Psychiatrists',
      rating: 95,
      exp: 4
    },
    {
      avatar: img_artwork[36],
      name: 'Jessy Doe',
      title: 'Pediatric Surgeon',
      rating: 95,
      exp: 4
    }
  ]

include ../cards/doctor-card.pug

.root
  .container
    .deco
      |
      |
      img.img-2d3d(
        src=img_assets+img_artwork[17]
        data-3d=img_assets+img_artwork[16]
        data-2d=img_assets+img_artwork[17]
        alt="speciality 3d"
      )/
      |
      |
    .row
      .col-md-3.col-sm-12.px-sm-6.px-0
        .wow.fadeInLeftShort(data-offset="-100" data-delay="0.2s" data-duration="0.3s")
          .side-filter
            h4.use-text-title #{$t.medical_landing.ask_doctors}
            ul.collection.nav#case_categories
              each item, index in categories
                li.collection-item.filter(class=index === 1 && "active")
                  a.waves-effect #{item}
      .col-lg-8.col-md-9.col-sm-12.pa-sm-6.pa-0
        .massonry
          .row
            each item, index in doctorsData
              .col-sm-6.px-lg-4.px-3.py-3
                .wow.fadeInUpShort(data-wow-delay=(0.2*index) + "s" data-wow-duration="0.4s")
                  +doctor-card(item.avatar, item.name, item.title, item.rating, item.exp)
