.counter-wrap
  .container.max-lg
    .row.justify-content-center.align-items-center
      .col-sm-4.col-lg-3.px-6
        .counter-item
          span.icon.ion-ios-people-outline.use-text-primary-color
          .text
            h4
              | +
              span.numscroller(
                data-min="0"
                data-max="456"
                data-delay="5"
                data-increment="8"
              ) &nbsp;
            h6.use-text-subtitle
              | #{$t.medical_landing.about_doctor}
        p.text-center
          | The doctors are all registered on the General Medical Council
      .col-sm-4.col-lg-3.px-6
        .counter-item
          span.icon.ion-ios-home-outline.use-text-primary-color
          .text
            h4
              | +
              span.numscroller(
                data-min="0"
                data-max="123"
                data-delay="5"
                data-increment="8"
              ) &nbsp;
            h6.use-text-subtitle
              | #{$t.medical_landing.about_clinics}
        p.text-center
          | We make it simple to get healthcare whenever and wherever you want
      .col-sm-4.col-lg-3.px-6
        .counter-item
          span.icon.ion-ios-medkit-outline.use-text-primary-color
          .text
            h4
              | +
              span.numscroller(
                data-min="0"
                data-max="24"
                data-delay="5"
                data-increment="8"
              ) &nbsp;
            h6.use-text-subtitle
              | #{$t.medical_landing.about_hours}
        p.text-center
          | Visit us at any time for diagnosis & treatment with 24/7 online clinic.
          
