include ../cards/testimonial-card
include ./slider-art

-
  var testiContent = [
    {
      text: 'Very usefull that everyone can ask anything about your health.',
      avatar: imgAPI.avatar[10],
      name: 'John Doe',
      title: 'Chief Digital Officer',
      rating: 5
    },
    {
      text: 'Its helps people to have a consultation with Specialist in an easy and less expensive way.',
      avatar: imgAPI.avatar[1],
      name: 'Jean Doe',
      title: 'Chief Digital Officer',
      rating: 4
    },
    {
      text: 'Super, consultation with doctor and they sent the medicine within 1-2 hours.',
      avatar: imgAPI.avatar[2],
      name: 'Jena Doe',
      title: 'Graphic Designer',
      rating: 4
    },
    {
      text: 'I tried to consult with one of the doctor and it was a seamless experience, it was so easy, no time to waste.',
      avatar: imgAPI.avatar[3],
      name: 'Jovelin Doe',
      title: 'Senior Graphic Designer',
      rating: 3
    },
    {
      text: 'Great experience, very convenient and fast delivery! A consultation and prescription delivery less than an hour.',
      avatar: imgAPI.avatar[4],
      name: 'Jihan Doe',
      title: 'CEO Software House',
      rating: 5
    },
    {
      text: 'Its really helps. So from now on you dont have to search all over place for a medicine.',
      avatar: imgAPI.avatar[6],
      name: 'Jovelin Doe',
      title: 'Senior Graphic Designer',
      rating: 5
    },
    {
      text: 'This apps really helpfull during pandemic an very easy to used',
      avatar: imgAPI.avatar[7],
      name: 'John Doe',
      title: 'Senior Graphic Designer',
      rating: 4
    },
    {
      text: 'Great medical store, user friendly and easy to use. And currently have doctors prescription.',
      avatar: imgAPI.avatar[10],
      name: 'John Doe',
      title: 'Chief Digital Officer',
      rating: 5
    },
    {
      text: 'Easy for doctors consulting, find a drug store, looking for vaccine schedule, buying multivitamin.',
      avatar: imgAPI.avatar[1],
      name: 'Jean Doe',
      title: 'Chief Digital Officer',
      rating: 4
    }
  ]


// #### TESTIMONIALS ####
.root
  .container.carousel-header
    .px-3
      h4.use-text-title.text-capitalize
        | #{$t.medical_landing.testimonial_title}
      p.use-text-subtitle2
        | What people said about their health.
  .carousel
    .slick-carousel#testimonial_carousel(data-length=testiContent.length)
      each item in testiContent
        .item
          +testimonial-card(item.avatar, item.title, item.name, item.text, item.rating)
      .item.show-lg-up
        .item-props-last
  .floating-artwork
    .container.fixed-width
      .artwork
        +slider-art('testimonials')
          .wow.fadeInLeftShort(data-wow-offset='100' data-wow-delay='0.3s' data-wow-duration='0.5s')
            |
            |
            img.img-2d3d(
              src=img_assets+img_artwork[25]
              data-2d=img_assets+img_artwork[24]
              data-3d=img_assets+img_artwork[25]
              alt='services 3d'
            )/
            |
            |
// #### END TESTIMONIALS ####
